<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3W0UrfpeOaXcuXbkN4MVsjGHma1AJbjA</string>
	<key>GCM_SENDER_ID</key>
	<string>670260238241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mallow</string>
	<key>PROJECT_ID</key>
	<string>mallow-d4f06</string>
	<key>STORAGE_BUCKET</key>
	<string>mallow-d4f06.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670260238241:ios:be4e734fac087a43be5de0</string>
</dict>
</plist>